*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body,
#root {
  height:100%;
  width:100%;
}

main{
  height:100%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
}

.left,.right{
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;
}

.left{
  background-color: rgb(17, 16, 16);
  position: relative; 
  overflow: auto;
}


.review {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgb(128, 126, 126);
  color: white;
  padding: 0.5rem;
  font-weight: 500;
  border-radius: 0.7rem;
  display: inline-block; 
  cursor: pointer;
  user-select: none;
}
.right{
  background-color: rgb(87, 87, 87);
  padding: 1.5rem 2rem;
  font-size: 1.2rem;
  overflow: auto;
}

.left .code,.code pre, .code pre code{
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0.7rem;
}
